.container {
    background-color: #f9f9fc; 
    padding: 30px 20px;
    border-radius: 12px;
    margin-top: 30px;
    background: linear-gradient(45deg, #ffe5ec, #e0f7fa); 
}

 
  
  .text {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #222;
  }
  
  .icon {
    color: gold;
    font-size: 28px;
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 0;
  }

